body{

    background:

    linear-gradient(

        to bottom,

        #fafaf8,

        #f3f1eb

    );

}

header{

padding:80px 20px 30px;

text-align:center;

}

h1{

font-size:3rem;

font-weight:300;

letter-spacing:.2em;

}

.subtitle{

opacity:.6;

}

main{

max-width:900px;

margin:auto;

padding:60px 30px;

}

#viewer{

    min-height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

#number{

margin-bottom:50px;

font-size:14px;

opacity:.5;

letter-spacing:.2em;

}

#poem{

    writing-mode:vertical-rl;

    text-orientation:mixed;

    height:500px;

    display:flex;

    justify-content:center;

    align-items:center;

}

#author{

    margin-top:40px;

    font-size:14px;

    color:#666;

    letter-spacing:.15em;

}

nav{

display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

}

button{

padding:15px 35px;

background:white;

border:1px solid #aaa;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#222;

color:white;

}

button{

    border-radius:40px;

}

footer{

margin-top:100px;

padding:30px;

text-align:center;

opacity:.4;

}

.fade{

    opacity:0;

    transition:opacity .8s ease;

}

.fade.show{

    opacity:1;

}

.page{

    min-height:85vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

#cover img{

    width:340px;

    max-width:80%;

    border-radius:4px;

    box-shadow:

        0 15px 40px rgba(0,0,0,.2),

        0 5px 10px rgba(0,0,0,.1);

}

.hidden{

    display:none;

}

#openBook{

    margin-top:40px;

    padding:15px 40px;

    font-size:16px;

}

@media (max-width:768px){

    #poem{

        font-size:1.5rem;

        height:360px;

    }

    h1{

        font-size:2rem;

    }

    button{

        width:140px;

    }

}
