@media screen and (max-width:768px){

    body{
        overflow-x:hidden;
    }

    header{
        padding:40px 15px 20px;
    }

    h1{
        font-size:2rem;
        letter-spacing:.15em;
    }

    .subtitle{
        font-size:.9rem;
    }

    main{
        padding:20px 10px;
    }

    #viewer{
        min-height:70vh;
    }

    #number{
        margin-bottom:20px;
        font-size:12px;
    }

#poem{
    writing-mode: vertical-rl;
    text-orientation: mixed;

    display: flex;
    justify-content: center;
    align-items: center;

    white-space: pre-line;
}
    #author{
        margin-top:20px;
        font-size:12px;
    }

    nav{
        gap:15px;
        margin-top:30px;
        flex-wrap:wrap;
    }

    button{
        width:130px;
        padding:12px 20px;
        font-size:14px;
    }

    #cover img{
        width:240px;
        max-width:85%;
    }

}

@media screen and (max-width:480px){

    #poem{
        font-size:1.2rem;
        height:300px;
        line-height:1.8;
    }

    h1{
        font-size:1.6rem;
    }

    #cover img{
        width:180px;
    }

    button{
        width:110px;
        font-size:13px;
        padding:10px 15px;
    }

}
